* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  font-family: "Helvetica", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  min-height: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.header,
.subheader {
  text-align: center;
  margin: 30px auto;
}

.header {
  margin: 50px auto;
}

.hint {
  font-size: 14px;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  color: white;
  font-weight: 600;
  font-size: 22px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #A3F3EB;
  padding: 16px 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn:hover,
.pressed {
  transform: scale(1.04);
  box-shadow: 0px 0px 20px -12px azure;
  background-color: #A3F3EB;
  color: #000;
  border: 2px solid #000;
}

.btn:active,
.pressed {
  outline: 2px solid yellow;
}

.infopanel {
  display: flex;
  border: 2px #F6E4AD solid;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 8px;
}

.log {
  max-width: 400px;
  font-size: 14px;
  overflow: scroll;
  max-height: 75px;
  font-size: 16px;
  overflow-x: hidden;
}

.log > p {
  overflow-x: hidden;
  max-height: 60px;
}

.log::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}

.log::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: 100px;
}

.restart-btn {
  padding: 10px 6px;
  background-color: transparent;
  color: #A3F3EB;
  border: 2px solid #A3F3EB;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 20px -10px azure;
  transition: all 0.1s ease-in-out;
}
.restart-btn:active {
  outline: 1px solid yellow;
}
.restart-btn:hover{
  background-color: #A3F3EB;
  color: black;
  border: 2px solid black;
}

.log-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.help-btn {
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

.help-btn-text {
  border: 2px solid #EDE6DB;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  overflow: visible;
  background-color: #1A3C40;
  color: #EDE6DB;
  font-size: 12px;
  padding: 8px 12px;

  border-radius: 8px;
  position: absolute;
  transform: translateX(-45%) translateY(60%);
  transition: all 150ms ease-out;
}

.help-btn-text:after {
  content: "";
  position: absolute;
  border: 10px solid #000;
  border-color: transparent transparent #EDE6DB transparent;
  left: 45.5%;
  top: -21px;
  /* transform: translateX(0%) translateY(-00%); */
}

.help-btn:hover + .help-btn-text {
  visibility: visible;
  opacity: 0.98;
  transform: translateX(-45%) translateY(65%);
}
